body {
  background: linear-gradient(45deg, #a8edea, #fed6e3);
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
